@charset "utf-8";

* {
	/* 외부정렬: 가운데 */
	margin: 0;
	padding: 0;
	
}

.sliderbox {
	width: 1200px;
	height: 400px;
	border: 1px solid #ccc;
	
	/* 외부정렬: 가운데 */
	margin: 0 auto;
	/* div영역을 벗어난 부분을 안보이게 처리 */
  	overflow: hidden;
/*   	overflow: visible;   */
}
/* 이미지 목록 (ul) */
.imgslide {
	
	/* 자식요소 absolute박스의 기준점으로 설정 */
	position: relative;
}

/* 이미지 항목 */
.imgslide li {
	/* 자유롭게 위치를 이동시킬수 있도록 설정 */
	position: absolute;

}

.imgslide li img {
	/* 모든 이미지를 같은 크기로 설정 */
	width: 1200px;
	height: 400px;
}

.moveBtn {
  width: 1200px;
  color: black;
  top: 45%;
  position: absolute;
  z-index: 2;
  font-size: 60px;
}

.moveBtn .pre {
  float: left;
  margin-left: 10px;
}

.moveBtn .next {
  float: right;
  margin-right: 10px;
}


a {
  color: inherit;
  text-decoration: none;
}


.bullets{
    position: absolute;
    left: 50%; /* 가로로 가운데 정렬 */
    transform: translateX(-50%);
    top: 471px; /* 슬라이드 밑에서 20px 간격 띄움 */
    z-index: 2; /* 슬라이드 위에 보이도록 레이어 순위를 높임 */
}
.bullets label{
    display: inline-block; /* 한 줄로 불릿 나열*/
    border-radius: 50%; /* 원형 불릿으로 처리 */
    background-color: rgba(0,0,0,0.55);
    width: 20px; /* 불릿 너비 */
    height: 20px; /* 불릿 높이 */
    cursor: pointer;
}

.sliderbox input[type="radio"] {
	display: none;
}

.sliderbox input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.sliderbox input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.sliderbox input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.sliderbox input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}
.sliderbox input[type=radio]:nth-child(5):checked~.bullets>label:nth-child(5){
    background-color: #fff;
}





